%header.header{ role: 'banner' }
  .header__image
    %img{ src: 'images/tim-2016_4x3.jpg', alt: 'Picture of Tim Smith'}/
  .header__text
    %h1 Hi there!
    %h2 I’m Tim Smith
    :markdown
      I’m a designer and frontend developer. I design and build web applications and sites, and have been doing so for the past 8 years. My career has included work with [Relay FM](https://www.relay.fm), [Carbon Ads](https://carbonads.net), and most notably, [The Clinton Foundation](https://ttimsmith.com/portfolio/clinton-foundation/). I've worked with WordPress, React, and Jekyll, but my personal favorite is Ruby on Rails.

    %a{ href: 'mailto:smith@ttimsmith.com', class: 'button button--secondary' } Let’s Work Together
