%section.section.section--dark#how-it-works
  .container.container--small
    %h2.section__title How I Like to Work
    :markdown
      1. **Work on a Week by Week Basis**<br>
      Instead of setting random deadlines for a project, we sit down on Monday, and define what we’ll accomplish within the week.

      2. **One Project at a Time**<br>
      Many independent designers and developers work on more than one project concurrently. I don’t. I only work with one client at a time. You have my full attention and time.

      3. **The Right Technology for You**<br>
      I have a wide range of technological expertise. We work together to decide the right technology for your site or app. I’m not into fitting square pegs into round holes.
