%section.section.section--yellow#testimonials
  .container
    .testimonials
      %blockquote.testimonial
        Tim’s designs integrated perfectly with Webform.com, taking into consideration our existing styles but elaborating in an “outside the box” approach. Tim helped take our site in a new direction to improve not only the look but also the usability. It was a pleasure to work with Tim.
        %small.testimonial__source
          Nathan Haug, Webform.com

      %blockquote.testimonial
        I was impressed by how well [Tim] “got” us. He did not have the advantage of a physical visit to our beautiful property, but he seemed to fall in love with us and helped to show our best side at every opportunity.
        %small.testimonial__source
          Laura Engle, Homewoods on the Willamette

      %blockquote.testimonial
        The CMS built for Goodstuff took all the usual work that’s required to publish a podcast on the web and lets me focus on simply recording podcasts. Not having to worry about re-entering metadata through iTunes’ constantly changing interfaces, making sure links are saved properly during recordings or even that the MP3 file is in the right location on the web are all things I don't have to worry about thanks to the CMS built by Tim Smith.
        %small.testimonial__source
          Chris Enns, Goodstuff Broadcasting, LLC.

      %blockquote.testimonial
        On-Air gives our hosts exactly what they need to create notes, upload audio, and manage their show on their own. The show management interface is fantastic; simple and intuitive for both beginners and professionals.
        %small.testimonial__source
          Kyle Roderick, Goodstuff Broadcasting, LLC.
