%section.section.section--white#what-i-do
  .container
    %h2.section__title.text-center What Can I Do For You?
  .service
    .service__icon.service__section
      %img{ src: 'images/web-design.svg', alt: 'Web Design Illustration' }/
    .service__text.service__section
      %h3.service__title UX and UI Design
      %p.service__description
        Great design is the result of well-formulated questions to the right people. I base my concepts on user reasearch, an effort to understand the complete picture; not just a specific piece of an app or site, and goals of the business.
  .service
    .service__text.service__section
      %h3.service__title Frontend Development
      %p.service__description
        I write standards-based HTML and CSS, together with some JavaScript. I’ve worked extensively with both Ruby on Rails, and WordPress (which might be the weirdest combo ever).
    .service__icon.service__section
      %img{ src: 'images/front-end.svg', alt: 'Frontend Illustration'}/
  .service
    .service__icon.service__section
      %img{ src: 'images/workshop.svg', alt: 'Workshop Illustration'}/
    .service__text.service__section
      %h3.service__title Workshops
      %p.service__description
        If you’re an educator, a manager, or a conference organizer, I’ve given a few talks, and have begun to dabble with workshops. I can speak on a wide range of topics, like design, development, growing remote teams, and more.
