
// -------------------------------
// BITS
// -------------------------------


// COLORS ------------------------
$dark-color: #5D536B;
$body-color: #555;
$link-color: #429CD4;
$jazz-color: #FE5F55;
$border-color: #EAECEF;
$third-color: #E88D67;
$yellow: #FDD566;

// Other -------------------------
$global-radius: 3px;
