// -------------------------------
// OBJECTS
// -------------------------------

.container {
  @extend %clearfix;

  margin: 0 auto;
  position: relative;
  width: 90%;
  @media #{$medium-up} {
    max-width: 768px;
  }
  @media #{$large-up} {
    max-width: 1100px;
  }
}

.container--small {
  @media #{$medium-up} {
    max-width: 640px;
  }

  @media #{$large-up} {
    max-width: 640px;
  }
}

// Section -----------------------
// Reusable section.
// -------------------------------

.section {
  padding: 4rem 0;
}

.section--top {
  padding: 2rem 0 4rem;
}

.section--transparent {
  color: lighten($dark-color, 40%);
}

.section--white {
  background-color: white;
}

.section--dark {
  background-color: $dark-color;
  color: lighten($dark-color, 40%);
  .section__title {
    color: white;
  }
}

.section--third {
  background-color: $third-color;
  color: lighten($third-color, 30%);
  .section__title {
    color: white;
  }
}

.section--jazz {
  background-color: $jazz-color;
  color: lighten($jazz-color, 28%);
  .section__title {
    color: white;
  }
}

.section--yellow {
  background-color: $yellow;
}

svg {
  width: 100%;
}

iframe {
  margin: 1rem 0;
  width: 100%;
}
