// -------------------------------
// HEADER
// -------------------------------

.header {
  align-items: center;
  background-color: $jazz-color;
  background-position: center 30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  @media screen and (min-height: 62.5em) {
    height: 70vh;
  }
  @media #{$medium-up} {
    flex-direction: row;
    height: 90vh;
  }
}

.header__image {
  background-image: url('tim-2016_4x3.jpg');
  background-position: 60% 30%;
  background-size: cover;
  height: 35vh;
  width: 100%;
  @media #{$medium-up} {
    height: 100%;
    width: 520px;
  }
}

.header__text {
  color: rgba(white, .7);
  margin: 0 auto 3rem;
  width: 90%;
  @media #{$medium-up} {
    margin: 0 0 3rem;
    padding: 0 3rem;
    width: 660px;
  }

  h1 {
    color: white;
    font-size: 4.5rem;
    margin: 3rem 0 4rem;
    -webkit-transform: skewY(-10deg);
    -moz-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -o-transform: skewY(-10deg);
    transform: skewY(-10deg);
    @media #{$medium-up} {
      font-size: 20vh;
    }
  }
}
