// -------------------------------
// HEADER
// -------------------------------

.header {
  align-items: stretch;
  background-color: $jazz-color;
  display: flex;
  flex-direction: column;
  @media #{$medium-up} {
    flex-direction: row;
    max-height: 90vh;
  }
}

.header__image {
  display: flex;
  @media #{$medium-up} {
    flex: 0 0 45%;
  }
  @media #{$large-up} {
    flex: 0 0 65%;
  }
  img {
    object-fit: cover;
  }
}

.header__text {
  color: rgba(white, .85);
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  width: 90%;
  @media #{$medium-up} {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 3rem;
    max-width: 660px;
    padding: 2rem;
  }

  h1 {
    color: lightgoldenrodyellow;
    font-size: 3.3rem;
    line-height: .8;
    margin: 0;
  }
  h2 {
    color: white;
    font-size: 2.8rem;
    line-height: 1;
    margin: 0 0 .5rem;
  }
  p {
    margin-top: 0;
  }
}
